In [387]:
import pandas as pd
import numpy as np

In [388]:
base_treino = pd.read_csv('C:/Users/gmore/deep/titanic/train.csv')
base_teste =  pd.read_csv('C:/Users/gmore/deep/titanic/test.csv')

In [389]:
base_treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [390]:
base_teste.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [391]:
base_treino.shape

(891, 12)

In [392]:
base_teste.shape

(418, 11)

In [393]:
x_teste = base_teste

In [394]:
x_teste.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [396]:
idade_media_teste = x_teste['Age'].mean()
tarifa_media_teste = x_teste['Fare'].mean()
x_teste.update(x_teste['Age'].fillna(idade_media_teste))
x_teste.update(x_teste['Cabin'].fillna('Sem Registro'))
x_teste.update(x_teste['Fare'].fillna(tarifa_media_teste))

In [397]:
x_teste.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [398]:
x = base_treino.drop(['Survived', 'Cabin'], axis = 1)

In [399]:
y = base_treino['Survived']

In [400]:
x.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [401]:
print(x.Embarked.value_counts())

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [404]:
idade_media = x['Age'].mean()
x.update(x['Age'].fillna(idade_media))
x.update(x['Embarked'].fillna('S'))

In [405]:
x.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [407]:
x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
5,6,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,C
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,S
12,13,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.000000,1,5,347082,31.2750,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.000000,0,0,248706,16.0000,S
16,17,3,"Rice, Master. Eugene",male,2.000000,4,1,382652,29.1250,Q
17,18,2,"Williams, Mr. Charles Eugene",male,29.699118,0,0,244373,13.0000,S
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1,0,345763,18.0000,S
19,20,3,"Masselmani, Mrs. Fatima",female,29.699118,0,0,2649,7.2250,C
20,21,2,"Fynney, Mr. Joseph J",male,35.000000,0,0,239865,26.0000,S
21,22,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,S
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.000000,0,0,330923,8.0292,Q
23,24,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,S
24,25,3,"Palsson, Miss. Torborg Danira",female,8.000000,3,1,349909,21.0750,S
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,S
26,27,3,"Emir, Mr. Farred Chehab",male,29.699118,0,0,2631,7.2250,C
27,28,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,S
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.699118,0,0,330959,7.8792,Q
29,30,3,"Todoroff, Mr. Lalio",male,29.699118,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...,...
861,862,2,"Giles, Mr. Frederick Edward",male,21.000000,1,0,28134,11.5000,S
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,S
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.699118,8,2,CA. 2343,69.5500,S
864,865,2,"Gill, Mr. John William",male,24.000000,0,0,233866,13.0000,S
865,866,2,"Bystrom, Mrs. (Karolina)",female,42.000000,0,0,236852,13.0000,S
866,867,2,"Duran y More, Miss. Asuncion",female,27.000000,1,0,SC/PARIS 2149,13.8583,C
867,868,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,S
868,869,3,"van Melkebeke, Mr. Philemon",male,29.699118,0,0,345777,9.5000,S
869,870,3,"Johnson, Master. Harold Theodor",male,4.000000,1,1,347742,11.1333,S
870,871,3,"Balkic, Mr. Cerin",male,26.000000,0,0,349248,7.8958,S
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,S
872,873,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,S
873,874,3,"Vander Cruyssen, Mr. Victor",male,47.000000,0,0,345765,9.0000,S
874,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000000,1,0,P/PP 3381,24.0000,C
875,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.000000,0,0,2667,7.2250,C
876,877,3,"Gustafsson, Mr. Alfred Ossian",male,20.000000,0,0,7534,9.8458,S
877,878,3,"Petroff, Mr. Nedelio",male,19.000000,0,0,349212,7.8958,S
878,879,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,S
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,C
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,S
881,882,3,"Markun, Mr. Johann",male,33.000000,0,0,349257,7.8958,S
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.000000,0,0,7552,10.5167,S
883,884,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,S
884,885,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,S
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.000000,0,5,382652,29.1250,Q
886,887,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,S
889,890,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [408]:
y.isnull().sum()

0

In [409]:
import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [410]:
x.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [411]:
nome_colunas_categoricas = ['Sex', 'Name', 'Ticket', 'Embarked']

In [412]:
colunas_categoricas = [tf.feature_column.categorical_column_with_vocabulary_list(key = c, vocabulary_list=x[c].unique()) for c in nome_colunas_categoricas]

In [413]:
nome_colunas_numericas = ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [414]:
colunas_numericas = [ tf.feature_column.numeric_column(key = c) for c in nome_colunas_numericas ]

In [415]:
colunas = colunas_categoricas + colunas_numericas

In [416]:
x_treinamento = x
y_treinamento = y

In [417]:
y_treinamento.shape

(891,)

In [418]:
x_teste.shape

(418, 11)

In [419]:
y_teste = y_treinamento[0:418,]

In [420]:
y_teste.shape

(418,)

In [423]:
funcao_treinamento = tf.estimator.inputs.pandas_input_fn(x = x_treinamento, y = y_treinamento,
                                                        batch_size = 32, num_epochs = None, shuffle = True)

In [424]:
classificador = tf.estimator.LinearClassifier(feature_columns=colunas)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\gmore\AppData\Local\Temp\tmpfm571atp
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\gmore\\AppData\\Local\\Temp\\tmpfm571atp', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [425]:
classificador.train(input_fn=funcao_treinamento, steps = 10000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\gmore\AppData\Local\Temp\tmpfm571atp\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 22.18071, step = 1
INFO:tensorflow:global_step/sec: 150.011
INFO:tensorflow:loss = 5.0377955, step = 101 (0.671 sec)
INFO:tensorflow:global_step/sec: 328.999
INFO:tensorflow:loss = 8.018097, step = 201 (0.302 sec)
INFO:tensorflow:global_step/sec: 298.553
INFO:tensorflow:loss = 9.23045, step = 301 (0.340 sec)
INFO:tensorflow:global_step/sec: 285.758
INFO:tensorflow:loss = 8.677118, step = 401 (0.353 sec)
INFO:tensorflow:global_step/sec: 295.904
INFO:tensorflow:loss = 6.034807, step = 501 (0.331 sec)
INFO:tensorflow:global_step/sec: 303.077
INFO:tensorflow:loss = 3.6695466, step = 601 (0.330 sec)
INFO:tensorflow:global_step/sec: 285.758
INFO:tensorflow:loss = 5.745746, step = 701 (0.349 sec)
INFO:tensorflow:global_step/sec: 293.299
INFO:tensorflow:loss = 1.9722493, step = 801 (0.345 sec)
INFO:tensorflow:global_step/sec: 192.709
INFO:tensorflow:loss = 3.6184688, step = 901 (0.529 sec)
INFO:tensorflow:global_step/sec: 225.26
INFO:tensorflow:loss = 2.8263407, step = 1001 (0.435 sec)
INFO:tensorflow:global_step/sec: 277.051
INFO:tensorflow:loss = 1.9521246, step = 1101 (0.357 sec)
INFO:tensorflow:global_step/sec: 272.52
INFO:tensorflow:loss = 2.5353713, step = 1201 (0.368 sec)
INFO:tensorflow:global_step/sec: 297.667
INFO:tensorflow:loss = 1.7468526, step = 1301 (0.340 sec)
INFO:tensorflow:global_step/sec: 251.928
INFO:tensorflow:loss = 1.9468021, step = 1401 (0.393 sec)
INFO:tensorflow:global_step/sec: 200.834
INFO:tensorflow:loss = 1.6658721, step = 1501 (0.505 sec)
INFO:tensorflow:global_step/sec: 221.763
INFO:tensorflow:loss = 2.3684669, step = 1601 (0.447 sec)
INFO:tensorflow:global_step/sec: 228.346
INFO:tensorflow:loss = 1.4814827, step = 1701 (0.443 sec)
INFO:tensorflow:global_step/sec: 225.768
INFO:tensorflow:loss = 2.787146, step = 1801 (0.437 sec)
INFO:tensorflow:global_step/sec: 214.166
INFO:tensorflow:loss = 1.3947648, step = 1901 (0.473 sec)
INFO:tensorflow:global_step/sec: 198.838
INFO:tensorflow:loss = 1.5767577, step = 2001 (0.502 sec)
INFO:tensorflow:global_step/sec: 132.999
INFO:tensorflow:loss = 1.3009253, step = 2101 (0.756 sec)
INFO:tensorflow:global_step/sec: 117.665
INFO:tensorflow:loss = 1.3408974, step = 2201 (0.844 sec)
INFO:tensorflow:global_step/sec: 118.356
INFO:tensorflow:loss = 1.0928943, step = 2301 (0.840 sec)
INFO:tensorflow:global_step/sec: 166.901
INFO:tensorflow:loss = 1.4401405, step = 2401 (0.620 sec)
INFO:tensorflow:global_step/sec: 204.052
INFO:tensorflow:loss = 0.99357575, step = 2501 (0.473 sec)
INFO:tensorflow:global_step/sec: 214.624
INFO:tensorflow:loss = 1.4069171, step = 2601 (0.463 sec)
INFO:tensorflow:global_step/sec: 242.169
INFO:tensorflow:loss = 1.4751453, step = 2701 (0.430 sec)
INFO:tensorflow:global_step/sec: 237.976
INFO:tensorflow:loss = 1.1765649, step = 2801 (0.407 sec)
INFO:tensorflow:global_step/sec: 223.249
INFO:tensorflow:loss = 0.9485706, step = 2901 (0.444 sec)
INFO:tensorflow:global_step/sec: 205.793
INFO:tensorflow:loss = 0.98176634, step = 3001 (0.484 sec)
INFO:tensorflow:global_step/sec: 259.865
INFO:tensorflow:loss = 1.1772567, step = 3101 (0.392 sec)
INFO:tensorflow:global_step/sec: 202.056
INFO:tensorflow:loss = 1.3674349, step = 3201 (0.493 sec)
INFO:tensorflow:global_step/sec: 221.63
INFO:tensorflow:loss = 0.88817406, step = 3301 (0.447 sec)
INFO:tensorflow:global_step/sec: 267.001
INFO:tensorflow:loss = 0.8315395, step = 3401 (0.377 sec)
INFO:tensorflow:global_step/sec: 232.054
INFO:tensorflow:loss = 0.6239499, step = 3501 (0.428 sec)
INFO:tensorflow:global_step/sec: 274.767
INFO:tensorflow:loss = 1.000419, step = 3601 (0.364 sec)
INFO:tensorflow:global_step/sec: 263.198
INFO:tensorflow:loss = 0.8690759, step = 3701 (0.389 sec)
INFO:tensorflow:global_step/sec: 279.373
INFO:tensorflow:loss = 1.1022743, step = 3801 (0.356 sec)
INFO:tensorflow:global_step/sec: 279.373
INFO:tensorflow:loss = 0.8672235, step = 3901 (0.351 sec)
INFO:tensorflow:global_step/sec: 259.78
INFO:tensorflow:loss = 0.70348907, step = 4001 (0.386 sec)
INFO:tensorflow:global_step/sec: 269.582
INFO:tensorflow:loss = 0.8948947, step = 4101 (0.371 sec)
INFO:tensorflow:global_step/sec: 265.998
INFO:tensorflow:loss = 0.8323613, step = 4201 (0.378 sec)
INFO:tensorflow:global_step/sec: 252.564
INFO:tensorflow:loss = 0.8018605, step = 4301 (0.395 sec)
INFO:tensorflow:global_step/sec: 267.422
INFO:tensorflow:loss = 0.7534899, step = 4401 (0.376 sec)
INFO:tensorflow:global_step/sec: 261.136
INFO:tensorflow:loss = 0.88947123, step = 4501 (0.380 sec)
INFO:tensorflow:global_step/sec: 271.782
INFO:tensorflow:loss = 0.75146925, step = 4601 (0.367 sec)
INFO:tensorflow:global_step/sec: 261.134
INFO:tensorflow:loss = 0.6587969, step = 4701 (0.401 sec)
INFO:tensorflow:global_step/sec: 266.704
INFO:tensorflow:loss = 0.68004143, step = 4801 (0.359 sec)
INFO:tensorflow:global_step/sec: 268.137
INFO:tensorflow:loss = 0.7162857, step = 4901 (0.370 sec)
INFO:tensorflow:global_step/sec: 269.583
INFO:tensorflow:loss = 0.7794572, step = 5001 (0.372 sec)
INFO:tensorflow:global_step/sec: 205.792
INFO:tensorflow:loss = 0.5979222, step = 5101 (0.492 sec)
INFO:tensorflow:global_step/sec: 218.201
INFO:tensorflow:loss = 0.5384105, step = 5201 (0.457 sec)
INFO:tensorflow:global_step/sec: 241.001
INFO:tensorflow:loss = 0.72230256, step = 5301 (0.417 sec)
INFO:tensorflow:global_step/sec: 241.029
INFO:tensorflow:loss = 0.6162876, step = 5401 (0.410 sec)
INFO:tensorflow:global_step/sec: 218.374
INFO:tensorflow:loss = 0.49004525, step = 5501 (0.457 sec)
INFO:tensorflow:global_step/sec: 209.237
INFO:tensorflow:loss = 0.53917754, step = 5601 (0.488 sec)
INFO:tensorflow:global_step/sec: 159.261
INFO:tensorflow:loss = 0.61414725, step = 5701 (0.625 sec)
INFO:tensorflow:global_step/sec: 259.623
INFO:tensorflow:loss = 0.6275717, step = 5801 (0.383 sec)
INFO:tensorflow:global_step/sec: 236.443
INFO:tensorflow:loss = 0.74940825, step = 5901 (0.417 sec)
INFO:tensorflow:global_step/sec: 217.422
INFO:tensorflow:loss = 0.6794176, step = 6001 (0.464 sec)
INFO:tensorflow:global_step/sec: 238.702
INFO:tensorflow:loss = 0.5060732, step = 6101 (0.416 sec)
INFO:tensorflow:global_step/sec: 235.329
INFO:tensorflow:loss = 0.50994015, step = 6201 (0.429 sec)
INFO:tensorflow:global_step/sec: 248.178
INFO:tensorflow:loss = 0.4319389, step = 6301 (0.400 sec)
INFO:tensorflow:global_step/sec: 230.983
INFO:tensorflow:loss = 0.5691105, step = 6401 (0.434 sec)
INFO:tensorflow:global_step/sec: 255.138
INFO:tensorflow:loss = 0.5279047, step = 6501 (0.391 sec)
INFO:tensorflow:global_step/sec: 244.539
INFO:tensorflow:loss = 0.48797, step = 6601 (0.413 sec)
INFO:tensorflow:global_step/sec: 236.442
INFO:tensorflow:loss = 0.6282875, step = 6701 (0.417 sec)
INFO:tensorflow:global_step/sec: 278.595
INFO:tensorflow:loss = 0.4975863, step = 6801 (0.367 sec)
INFO:tensorflow:global_step/sec: 245.738
INFO:tensorflow:loss = 0.5495914, step = 6901 (0.402 sec)
INFO:tensorflow:global_step/sec: 289.9
INFO:tensorflow:loss = 0.65552235, step = 7001 (0.343 sec)
INFO:tensorflow:global_step/sec: 277.82
INFO:tensorflow:loss = 0.3780733, step = 7101 (0.360 sec)
INFO:tensorflow:global_step/sec: 295.905
INFO:tensorflow:loss = 0.62896097, step = 7201 (0.339 sec)
INFO:tensorflow:global_step/sec: 295.903
INFO:tensorflow:loss = 0.5175816, step = 7301 (0.339 sec)
INFO:tensorflow:global_step/sec: 238.132
INFO:tensorflow:loss = 0.5485239, step = 7401 (0.420 sec)
INFO:tensorflow:global_step/sec: 249.415
INFO:tensorflow:loss = 0.46540463, step = 7501 (0.399 sec)
INFO:tensorflow:global_step/sec: 257.769
INFO:tensorflow:loss = 0.39205667, step = 7601 (0.393 sec)
INFO:tensorflow:global_step/sec: 243.942
INFO:tensorflow:loss = 0.5209063, step = 7701 (0.408 sec)
INFO:tensorflow:global_step/sec: 255.141
INFO:tensorflow:loss = 0.47063124, step = 7801 (0.394 sec)

INFO:tensorflow:global_step/sec: 279.372
INFO:tensorflow:loss = 0.34234214, step = 7901 (0.354 sec)
INFO:tensorflow:global_step/sec: 272.522
INFO:tensorflow:loss = 0.5429276, step = 8001 (0.369 sec)
INFO:tensorflow:global_step/sec: 284.135
INFO:tensorflow:loss = 0.36311936, step = 8101 (0.351 sec)
INFO:tensorflow:global_step/sec: 256.45
INFO:tensorflow:loss = 0.43756706, step = 8201 (0.392 sec)
INFO:tensorflow:global_step/sec: 274.015
INFO:tensorflow:loss = 0.38997334, step = 8301 (0.365 sec)
INFO:tensorflow:global_step/sec: 275.849
INFO:tensorflow:loss = 0.40688986, step = 8401 (0.362 sec)
INFO:tensorflow:global_step/sec: 260.456
INFO:tensorflow:loss = 0.34474757, step = 8501 (0.381 sec)
INFO:tensorflow:global_step/sec: 308.686
INFO:tensorflow:loss = 0.46503484, step = 8601 (0.326 sec)
INFO:tensorflow:global_step/sec: 263.202
INFO:tensorflow:loss = 0.36085716, step = 8701 (0.378 sec)
INFO:tensorflow:global_step/sec: 290.742
INFO:tensorflow:loss = 0.28545892, step = 8801 (0.343 sec)
INFO:tensorflow:global_step/sec: 266.708
INFO:tensorflow:loss = 0.29999065, step = 8901 (0.377 sec)
INFO:tensorflow:global_step/sec: 261.136
INFO:tensorflow:loss = 0.49409926, step = 9001 (0.392 sec)
INFO:tensorflow:global_step/sec: 223.748
INFO:tensorflow:loss = 0.39579344, step = 9101 (0.439 sec)
INFO:tensorflow:global_step/sec: 227.307
INFO:tensorflow:loss = 0.41576016, step = 9201 (0.445 sec)
INFO:tensorflow:global_step/sec: 226.455
INFO:tensorflow:loss = 0.47537655, step = 9301 (0.436 sec)
INFO:tensorflow:global_step/sec: 243.348
INFO:tensorflow:loss = 0.39166927, step = 9401 (0.410 sec)
INFO:tensorflow:global_step/sec: 216.952
INFO:tensorflow:loss = 0.3494175, step = 9501 (0.468 sec)
INFO:tensorflow:global_step/sec: 213.709
INFO:tensorflow:loss = 0.3471503, step = 9601 (0.465 sec)
INFO:tensorflow:global_step/sec: 242.168
INFO:tensorflow:loss = 0.35549486, step = 9701 (0.411 sec)
INFO:tensorflow:global_step/sec: 273.264
INFO:tensorflow:loss = 0.41866767, step = 9801 (0.367 sec)
INFO:tensorflow:global_step/sec: 276.285
INFO:tensorflow:loss = 0.37738198, step = 9901 (0.363 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 10000...
INFO:tensorflow:Saving checkpoints for 10000 into C:\Users\gmore\AppData\Local\Temp\tmpfm571atp\model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 10000...
INFO:tensorflow:Loss for final step: 0.36177328.

In [426]:
funcao_previsao = tf.estimator.inputs.pandas_input_fn(x = x_teste, batch_size = 32, shuffle = False)

In [427]:
previsoes = classificador.predict(input_fn=funcao_previsao)

In [428]:
previsoes_final = []
for p in classificador.predict(input_fn=funcao_previsao):
    previsoes_final.append(p['class_ids'])

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\gmore\AppData\Local\Temp\tmpfm571atp\model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [429]:
previsoes_final

[array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64),
 array([0], dtype=int64)]

In [431]:
from sklearn.metrics import accuracy_score
taxa_acerto = accuracy_score(y_teste, previsoes_final)
taxa_acerto

0.5095693779904307